:root
{
    --light:#f8f9fa;
    --secondary:#adb5db;
    --dark:#343a40;
    --primary-color:#f15bb5;
    --secondary-color:#2ec4bd;
    --border:#e9ecef;
    --pink:#da5296;
    --dark-purple:#403874;
}
html{
  overflow-x: hidden;
}
body{
    padding: 0%;
    margin: 0%;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(255,255,255,0.3),rgba(255,255,255,0.3)), url(../images/wall7.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
/*------- Navigation menu -------*/
.navbar-nav .nav-item .nav-link{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.navbar-nav{
  align-self: center; 
}
.navbar{
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100vw;
  background-color: rgba(255,255,255,0.9) !important;
}

form .sign{
  background-color: #6E9981;
  color: #ffffff;
  border-radius: 15px;
  border: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
form .login{
  color: #ffffff;
  border-radius: 10px;
  background-color: #6E9981;
  border: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
form .sign:hover{
  background-color: #6E9981;
border: none;
transition: 0.5s;
transform: scale(1.05,1.05);
}
form .login:hover{
  background-color: #6E9981;
  border: none;
  transition: 0.5s;
  transform: scale(1.05,1.05);
}
button .nav-link{
    text-decoration: none;  
}
.nav-link:hover{
  color: #343a40;
}
.navbar-brand{
    font-size: 28px !important;
}

nav .container-fluid .collapse ul li.active a{
    color: #000000;
}

/*------- Navigation menu -------*/
.contain{
width: 50vw !important;
margin-top: 10% !important;
border-radius: 25px;
font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
margin-left: 25%;
background-color: rgba(255,255,255,0.6);
}

.cor input{
  padding: 2%;
  border-radius: 15px;
  border: 1px solid #3E7958;
}
.form-check-input:checked {
  background-color: #3E7958;
  border-color: #3E7958;
}
.form-check-input:focus{
  border-color: #3E7958 !important;
  box-shadow: 0 0 0 0.25rem #3e795854;
}
.cor input:focus{
  border-color: #3E7958 !important;
  box-shadow: 0 0 0 0.25rem #3e795854;
}
.contain h1{
  padding-top: 3%;
    text-align: center;
    color: #50936a;
    font-size: 6vw;
    font-family:Arial, Helvetica, sans-serif;
}
fieldset{
    margin-left: 4% !important;
    
}
.bouttn{
  margin: 3%;
   border-radius: 10px !important;
   background-color: #50936a !important;
   color: #ffffff!important;
  border: none !important;
 text-align: center !important;
 font-size: 22PX !important;
}
.bouttn:hover{
  border: none;
  transition: 0.5s;
  transform: scale(1.05,1.05);
   
}

/*----footer---*/

.fo{
  margin-top: 10%;
  background-color: rgba(255,255,255,0.9);
}
.fab:hover{
  color: #6E9981!important;
}
.text-reset{
  text-decoration: none;
}

.text-reset:hover{
  color: #6E9981 !important;
}
/*----footer---*/
@media screen and (max-width:950px) {
  .contain{
   width: 85vw !important;
    margin-top: 17% !important;
    margin-left: 7.5%;
  }
}



